body {
        font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
p {
        margin-bottom: 0;
        margin-top: 0;
}

a {
        text-decoration: none;
        color: currentColor;
}

ul,
ol {
        list-style: none;
        padding: 0;
        margin: 0;
}

button {
        cursor: pointer;
        font-family: inherit;
}

address {
        font-style: normal;
}

img {
        display: block;
        height: auto;
        width: 100%;
}

/* базові стилі */
body {
        font-family: Roboto;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.container {
        max-width: 1158px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
}

.logo {
        font-family: "Raleway", sans-serif;
        color: #4d5ae5;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: block;
}

.header-information-container {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.header-navigation {
        display: flex;
        align-items: center;
}

.header-menu-list{
        display: flex;
        gap: 40px;
}

.nav-link{
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        font-weight: 500;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current{
        position: relative;
        color: #404BBF;
}

.current::after{
    content: "";
    background-color:#404BBF ;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    height: 4px;
    width: 100%;
}

.nav-link:hover,
.nav-link:focus {
        color: #404bbf;
}

.header-logo {
        align-items: center;
        margin-right: 76px;
}

.header-menu-nav {
        display: flex;
        align-items: center;
        gap: 40px;
}

.title-address {
        display: block;
        font-style: normal;
        margin-left: auto;
}

.contact-link {
        padding-top: 24px;
        padding-bottom: 24px;
        transition: color cubic-bezier(0.4, 0, 0.2, 1);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
        color: #404bbf;
}

.logo-title {
        color: #2e2f42;
}

/* Section 1 */
.main {
        background: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
        box-sizing: content-box;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
         url(../images/people-office.jpg); 
        max-width: 1440px;
        margin: auto;
}

.header-section {
        max-width: 496px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 48px;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.section-button {
        margin: 0 auto;
        font-weight: 500;
        letter-spacing: 0.04em;
        color: #ffffff;
        line-height: 1.5;
        display: block;
        border: none;
        background-color: #4d5ae5;
        border-radius: 4px;
        cursor: pointer;
        padding: 16px 32px;
        min-width: 169px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-button:focus,
.section-button:hover {
        background-color: #404bbf;
}

/* section main */

.section-photo-team {
        background: #d9d9d9;
        line-height: 1.11;
        text-transform: capitalize;
}

.custom-head-submit {
        padding-top: 120px;
        padding-bottom: 120px;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.section-container-text {
        display: flex;
        gap: 24px;
}

.section-title-first {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.list-section-item {
        width: calc((100% - 72px) / 4);
}
.box-section{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        background-color: #F4F4FD;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 4px;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;    
}
.custom-section {
        background-color: #f4f4fd;
        padding-top: 120px;
        padding-bottom: 120px;
}

.section-custom-header{
        font-size: 20px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
        margin: 0 auto;
        border-radius: 0px 0px 4px 4px;
        margin-bottom: 8px;
}

.custom-list {
        display: flex;
        gap: 24px;
        border-radius: 0px 0px 4px 4px;
}

.custom-item {
        width: calc((100% - 72px) / 4);
        background-color: #ffffff;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
}

.custom-sub-paragh {
        padding-top: 32px;
        padding-bottom: 32px;
}

.custom-subheading {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
}

.custom-paragraph {
        text-align: center;
}
.icons-list{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.icons-container{

}

.icons-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #4D5AE5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-link:focus,
.icons-link:hover{
        background-color: #404BBF;
}
.icons-svg{
    fill: #F4F4FD;
}
.section-custom-portfolio {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.container-section-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
}

.section-portfolio {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        max-width: 218px;
        margin: 0 auto;
        display: flex;
        margin-bottom: 72px;
}

.section-portfolio-menu {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}

.section-portfolio-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-portfolio-item:hover{
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
      transform: translateY(0%);
}
.image-wrapper{
   position:relative;
   overflow: hidden;
}

.text-wrapper{
   position: absolute;
   top: 0;
   left: 0;
   background-color: #4D5AE5;
   width: 100%;
   height: 100%;
   padding: 40px 32px;
   transform: translateY(100%);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #f4f4fd;
}

.image-wrapper:hover .text-wrapper{
        transform: translateY(0%);
}
.custom-heading {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;
}

.custom-subhead {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 8px;
}

.custom-paragrph {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.custom-text-portfolio {
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;    
        background: #fff;
}
.custom-text-portfolio:hover{
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.custom-text-portfolio:focus{
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/* FOOTER */

.footer {
        background-color: #2e2f42;
        padding: 100px 0;
}

.footer-logo {
        display: inline-block;
        margin-bottom: 16px;
        margin-right: 120px;

}
.section-footer{
        margin-right: 120px;
}
.mediateka{
        display: flex;
        align-items: baseline;      
}
.logo-color {
        color: #f4f4fd;
        display: inline-block; 
}

.footer-paragraph {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;

}

.media-box{
        width: 208px;
        height: 80px;
        /* margin-top: 110px;
        margin-bottom: 112px;
        margin-left: 120px;
        margin-right: 120px; */
}

.social-link-footer{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height:1.5;
        letter-spacing: 0.02em;
        color:#fff;
        margin-bottom: 16px; 
}

.social-icons-footer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 40px;
        gap: 16px;
}

.icons-container{
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        width: 40px;
        height: 40px;
}

.icons-footer{
        width: 100%;
        height: 100%;
        background-color:#4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: white;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.icon{
        fill: var(--icon-color, #f4f4fd);
}
.icons-footer:hover{
        background-color: #31d0aa;
}

.icons-footer:focus{
        background-color: #31d0aa;
}
/* загальний стиль button */
button {
	font-family: inherit;
	color: currentColor;
}
input {
	font-family: inherit;
}




.backdrop{
        position: fixed;
        top:0;
        width: 100%;
        height: 100%;
        background: rgba(46, 47, 66, 0.4);
        /* display: flex;
        justify-content: center;
        align-items: center;
        */
}

/* MODAL */
.modal{
        position: absolute;
        width: 408px;
        min-height: 584px;
        background-color: #FCFCFC;
        border-radius: 4px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding-top: 72px;
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 16px;
}

.modal-close{
        /* border-radius: 4px; */
        position: absolute;
        right: 24px;
        top: 24px;
        fill: none;
}
.modal-close:hover{
        background-color: #404BBF;
}
.button-property{
}
.modal-paragraph{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;  
        margin-bottom: 40px; 
}

.modal-input{
        width: 100%;
        height: 58px;
        border-radius: 4px;
        background-color: transparent;
        outline: transparent;
        margin-bottom: 8px;
        padding-left: 16px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-inputs{
        width: 100%;
        height: 58px;
        border-radius: 4px;
        background-color: transparent;
        outline: transparent;
        margin-bottom: 8px;
        padding-left: 16px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus{
        border-color: #4D5AE5;
}
.modal-input:focus + .modal-icons{
        fill: #4D5AE5;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .modal-form{ */
        

.modal-label{
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #8e8f99;
        /* display: block;
        margin-bottom: 4px; */
}

.modal-label span{
        display: block;
        margin-bottom: 4px;  
}

.modal-icons{
        position: absolute;
        left: 16px;
        top: 11px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.input-wrapper{
        position: relative;
}
.modal-text{
        width: 100%;
        height: 138px;
        border-radius: 4px;
        background-color: transparent;
        outline: transparent;
        margin-bottom: 16px;
        padding:  8px 16px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        resize: none;
}

.checkbox-input{
        width: 16px;
        height: 16px;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: #8e8f99;
}
.button-send{
        width: 169px;
        height: 56px;
        background-color: #4D5AE5;
        color: #FFFFFF;

}


